form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputForm {
  width: 100%;
}

.inputLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

.inputField {
  padding: 8px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;

  &:focus,
  &:hover {
    background-color: rgb(221, 243, 243);
  }
}

.inputButton {
  max-width: 150px;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;

  transition: 400ms;

  &:hover,
  &:focus {
    background-color: rgb(198, 240, 100);
    color: rgb(10, 32, 20);
    box-shadow: 0 0 5px rgb(93, 207, 207);
  }
}
